<% pagy, records = field.paginated_value(record, params) %>
<% records.each do |object| %>
  <% if (associated_resource = field.associated_resource_for(object)) %>
    <div><%= link_to associated_resource.display_name(object), associated_resource.show_path(object) %></div>
  <% else %>
    <%= render partial: "missing_resource", locals: { resource_name: Madmin.resource_name_for(object) } %>
  <% end %>
<% end %>

<div class="pagination">
  <% if pagy.respond_to?(:series_nav) %>
    <%== pagy.series_nav %>
    <%== pagy.info_tag %>
  <% else %>
    <%== pagy_nav pagy %>
    <%== pagy_info pagy %>
  <% end %>
</div>
