<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      Madmin: <%= Rails.application.class %>
    </title>

    <%= csrf_meta_tags %>

    <%= render "javascript" %>
  </head>
  <body>
    <div id="container">
      <div id="sidebar">
        <%= render "navigation" -%>
      </div>
      <main role="main">
        <%#= render "flashes" -%>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
