<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <% if content_for? :title %>
        <%= yield(:title) %> -
      <% end %>
      <%= Madmin.site_name %> Admin
    </title>
    <%= csrf_meta_tags %>
    <%= render "javascript" %>
  </head>
  <body>
    <aside id="sidebar">
      <%= render "navigation" %>
    </aside>
    <main>
      <%= render "flash" %>
      <%= yield %>
    </main>
  </body>
</html>
