<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      Madmin: <%= Rails.application.class %>
    </title>
    <link href="https://unpkg.com/@tailwindcss/forms/dist/forms.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/@tailwindcss/typography/dist/typography.min.css" rel="stylesheet" />
    <%= csrf_meta_tags %>

    <%= render "javascript" %>
  </head>
  <body class="min-h-screen">
    <div class="md:flex w-full min-h-screen">
      <div id="sidebar" class="md:w-64 p-4 flex-shrink-0 border-r">
        <%= render "navigation" -%>
      </div>
      <main class="flex-grow p-4 overflow-x-scroll" role="main">
        <%#= render "flashes" -%>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
