<form id="filter-form">
  <div class="dropdown" data-controller="filter" data-filter-initial-filters-value="<%= @filters_params.to_json %>">
    <% has_active_filters = @filters_params&.dig("groups")&.any? %>

    <label role="button" tabindex="0" class="btn <%= has_active_filters ? 'btn-primary' : 'btn-ghost' %>" data-filter-target="filterButton">
      Filters
      <span data-filter-target="activeIndicator" class="<%= has_active_filters ? '' : 'hidden' %>">Active</span>
    </label>
    <div tabindex="0" class="dropdown-content">
        <div id="filter-groups" data-filter-target="conditionGroups">
          <%# Groups will be dynamically inserted here %>
        </div>
        <div class="filter-actions">
          <button type="button"
                  class="btn btn-secondary"
                  data-action="filter#addNewGroupWithCondition">
            Add Group
          </button>
          <div class="flex gap-2">
            <button type="submit" class="btn btn-primary">Apply</button>
            <%= link_to "Clear", resource.index_path, class: "btn btn-ghost" %>
          </div>
        </div>
    </div>
    <%= render 'madmin/shared/filters/condition_groups' %>
  </div>
</form>