<%= form_with model: [:madmin, record], url: (record.persisted? ? resource.show_path(record) : resource.index_path), local: true, class: "form" do |form| %>
  <% if form.object.errors.any? %>
    <div class="form-error">
      <div class="form-error__summary">There was <%= pluralize form.object.errors.full_messages.count, "error" %> with your submission</div>

      <% form.object.errors.full_messages.each do |message| %>
        <div class="form-error__item"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <% resource.attributes.values.select{ _1.field.present? && _1.field.visible?(action_name) }.each do |attribute| %>
    <div class="form-group">
      <div class="form-group__label-container">
        <%= render "madmin/shared/label", form: form, field: attribute.field %>
        <br />
        <small><%= attribute.type %></small>
      </div>
      <div class="form-group__field-container">
        <%= render partial: attribute.field.to_partial_path("form"), locals: { field: attribute.field, record: record, form: form, resource: resource } %>
        <%= tag.div attribute.field.options.description, class: "form-group__field-description" %>
      </div>
    </div>
  <% end %>

  <%= form.submit class: "btn btn-primary form__submit" %>
<% end %>
