<%= form_with model: [:madmin, record], url: (record.persisted? ? resource.show_path(record) : resource.index_path), local: true do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <div class="">There was <%= pluralize form.object.errors.full_messages.count, "error" %> with your submission:</div>

      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% resource.attributes.values.select{ _1.field.present? && _1.field.visible?(action_name) }.each do |attribute| %>
    <div class="form-group">
      <%= render "madmin/shared/label", form: form, field: attribute.field %>
      <%= render partial: attribute.field.to_partial_path("form"), locals: { field: attribute.field, record: record, form: form, resource: resource } %>
      <%= tag.div attribute.field.options.description, class: "form-description" if attribute.field.options.description.present? %>
    </div>
  <% end %>

  <%= form.submit class: "btn btn-primary" %>
  <%= link_to "Cancel", (record.persisted? ? resource.show_path(record) : resource.index_path), class: "btn" %>
<% end %>
