<%= content_for :title, t("madmin.titles.edit", name: resource.display_name(@record)) %>

<header class="header">
  <h1>
    <%= link_to resource.friendly_name.pluralize, resource.index_path %>
    /
    <strong><%= t("madmin.actions.edit") %> <%= link_to resource.display_name(@record), resource.show_path(@record) %></strong>
  </h1>
</header>

<%= render partial: "form", locals: { record: @record, resource: resource } %>
