<div class="flex justify-between items-center">
  <h1 class="text-xl font-semibold"><%= resource.friendly_name.pluralize %></h1>
  <%= link_to "New #{resource.friendly_name}", resource.new_path, class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
</div>

<div class="mb-4">
  <% if resource.scopes.any? %>
    <%= link_to "All", resource.index_path %>
  <% end %>

  <% resource.scopes.each do |scope| %>
    <%= link_to scope.to_s.humanize, resource.index_path(scope: scope) %>
  <% end %>
</div>

<table class="min-w-full divide-y divide-gray-200">
  <thead>
    <tr class="border-b border-gray-200">
      <% resource.attributes.each do |attribute| %>
        <% next if attribute[:field].nil? %>
        <% next unless attribute[:field].visible?(action_name) %>

        <th class="py-2 px-4 text-left text-xs text-gray-500 font-medium uppercase whitespace-nowrap"><%= sortable attribute[:name], attribute[:name].to_s.titleize %></th>
      <% end %>
      <th class="py-2 px-4 text-left text-xs text-gray-500 font-medium uppercase">Actions</th>
    </tr>
  </thead>

  <tbody class="text-sm divide-y">
    <% @records.each do |record| %>
      <tr>
        <% resource.attributes.each do |attribute| %>
          <% next if attribute[:field].nil? %>
          <% next unless attribute[:field].visible?(action_name) %>

          <% field = attribute[:field] %>

          <td class="px-4 py-2"><%= render partial: field.to_partial_path("index"), locals: { field: field, record: record } %></td>
        <% end %>

        <td class="px-4 py-2 text-center"><%= link_to "View", resource.show_path(record), class: "text-indigo-500" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
