<header class="page-header">
  <h1><%= resource.friendly_name.pluralize %></h1>

  <div class="actions">
    <form class="search-form">
      <%= hidden_field_tag :page, params[:page], value: 1, class: "hidden" %>
      <%= search_field_tag :q, params[:q], placeholder: "Search", class: "form-input" %>
      <%= link_to clear_search_params, class: "search-clear" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </form>

    <%= link_to resource.new_path, class: "btn btn-primary" do %>
      New <span class="mobile-hidden"><%= resource.friendly_name %></span>
    <% end %>
  </div>
</header>

<% if resource.scopes.any? %>
  <div class="scopes">
      <%= link_to "All", resource.index_path, class: class_names("nav__link", {"nav__link--active" =>  params[:scope].blank?}) %>

    <% resource.scopes.each do |scope| %>
      <%= link_to scope.to_s.humanize, resource.index_path(scope: scope), class: class_names("nav__link", {"nav__link--active" => params[:scope] == scope.to_s}) %>
    <% end %>
  </div>
<% end %>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <% resource.attributes.values.each do |attribute| %>
          <% next if attribute.field.nil? %>
          <% next unless attribute.field.visible?(action_name) %>

          <th class="table__header"><%= sortable attribute.name, attribute.name.to_s.titleize %></th>
        <% end %>
        <th class="table__header table__header--actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @records.each do |record| %>
        <tr>
          <% resource.attributes.values.each do |attribute| %>
            <% next if attribute.field.nil? %>
            <% next unless attribute.field.visible?(action_name) %>
            <td class="table__cell"><%= render partial: attribute.field.to_partial_path("index"), locals: { field: attribute.field, record: record, resource: resource } %></td>
          <% end %>

          <td class="table__cell table__cell--actions">
            <%= link_to "View", resource.show_path(record), class: "btn btn-small" %>
            <%= link_to "Edit", resource.edit_path(record), class: "btn btn-small" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_nav @pagy %>
