<header class="page-header">
  <h1>
    <%= link_to resource.friendly_name.pluralize, resource.index_path %>
    /
    <strong><%= link_to resource.display_name(@record), resource.show_path(@record) %></strong>
  </h1>

  <div class="actions">
    <% resource.member_actions.each do |action| %>
      <%= instance_eval(&action) %>
    <% end %>
    <%= link_to "Edit", resource.edit_path(@record), class: "btn btn-primary" %>
    <%= button_to "Delete", resource.show_path(@record), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</header>

<div class="attribute-list">
  <% resource.attributes.values.each do |attribute| %>
    <% next if attribute.field.nil? %>
    <% next unless attribute.field.visible?(action_name) %>

    <div class="attribute-item">
      <div class="attribute-label">
        <%= attribute.field.options.label || attribute.name.to_s.titleize %>
      </div>

      <div class="attribute-value">
        <%= render partial: attribute.field.to_partial_path("show"), locals: { field: attribute.field, record: @record, resource: resource } %>
      </div>
    </div>
  <% end %>
</div>
