<%= content_for :title, resource.display_name(@record) %>

<header class="header">
  <h1>
    <%= link_to resource.friendly_name.pluralize, resource.index_path %>
    /
    <%= resource.display_name(@record) %>
  </h1>

  <div class="actions">
    <% resource.member_actions.each do |action| %>
      <%= instance_exec(@record, &action) %>
    <% end %>
    <%= link_to "Edit", resource.edit_path(@record), class: "btn btn-secondary" %>
    <%= button_to "Delete", resource.show_path(@record), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</header>

<div class="table-scroll">
  <table>
    <tbody>
    <% resource.attributes.values.each do |attribute| %>
      <% next if attribute.field.nil? %>
      <% next unless attribute.field.visible?(action_name) %>

      <tr>
        <th class="label">
          <%= attribute.field.options.label || attribute.name.to_s.titleize %>
        </th>

        <td>
          <%= render partial: attribute.field.to_partial_path("show"), locals: { field: attribute.field, record: @record, resource: resource } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
